/* Couleurs Charte Graphique Hexa */

:root {
    --primary: #1C1C1C;
    --primaryHighlight: #242424;
    --color: #9BBED6;
    --colorHighlight: #B8E2FF;
    --white: #EFFCF9;
}

/* Color Theme Swatches in RGBA
.Projet_PHP-1-rgba { color: rgba(28, 28, 28, 1); }
.Projet_PHP-2-rgba { color: rgba(36, 36, 36, 1); }
.Projet_PHP-3-rgba { color: rgba(155, 190, 214, 1); }
.Projet_PHP-4-rgba { color: rgba(184, 226, 255, 1); }
.Projet_PHP-5-rgba { color: rgba(239, 252, 249, 1); } */

body {
    background-color: var(--primaryHighlight);
    color: var(--white);
    /* background-image: url("./img/rain_bk.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: larger;
}

body::-webkit-scrollbar {
    display: none;
}

/* Titre de section */

.title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.subTitle {
    font-size: 1rem;
    font-style: italic;
}

/* Liens */

a {
    color: var(--color);
}

a:hover {
    color: var(--colorHighlight);
}

a:active {
    color: var(--white);
}

/* Section incurvée */

.sect_inc {
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    border-radius: 20px;
    margin: 25px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
}

/* Inputs */

.input {
    border-radius: 20px;
    height: 20px;
    width: 200px;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    border-radius: 50px;
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    color: var(--white);
    border-style: none;
    font-family: 'Zen Kurenaido', sans-serif;
}

.area {
    padding: 25px;
    width: 500px;
    height: fit-content;
    overflow: auto;
    /* resize: both; */
}

.area::-webkit-scrollbar {
    display: none;
}

/* Bouton valider */

.button {
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    color: var(--white);
    border-style: none;
    cursor: pointer;
    font-family: 'Zen Kurenaido', sans-serif;
}

.button:active {
    background-color: var(--white);
    color: var(--primary);
}

/* Message d'erreur */

.message {
    color: var(--color);
    font-style: italic;
    font-weight: bolder;
}

/* Style si réponse de la personne ayant posté le sujet */

#writer {
    background-color: rgba(155, 190, 214, 0.8);
    border-radius: 50px;
    color: var(--primary);
    padding: 10px;
}

/**************************** ACCUEIL *************************/

.block_header {
    display: flex;
    flex-direction: column;
}

.option_connection * {
    margin-right: 1%;
}