/* Couleurs Charte Graphique Hexa */

:root {
    --primary: #1C1C1C;
    --primaryHighlight: #242424;
    --color: #9BBED6;
    --colorHighlight: #B8E2FF;
    --white: #EFFCF9;
}


/* Color Theme Swatches in RGBA
.Projet_PHP-1-rgba { color: rgba(28, 28, 28, 1); }
.Projet_PHP-2-rgba { color: rgba(36, 36, 36, 1); }
.Projet_PHP-3-rgba { color: rgba(155, 190, 214, 1); }
.Projet_PHP-4-rgba { color: rgba(184, 226, 255, 1); }
.Projet_PHP-5-rgba { color: rgba(239, 252, 249, 1); } */

body {
    background-color: var(--primaryHighlight);
    color: var(--white);
    /* background-image: url("./img/rain_bk.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: larger;
}

body::-webkit-scrollbar {
    display: none;
}


/* Titre de section */

.title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.subTitle {
    font-size: 1rem;
    font-style: italic;
}


/* Liens */

a {
    color: var(--color);
}

a:hover {
    color: var(--colorHighlight);
}

a:active {
    color: var(--white);
}


/* Section incurvée */

.sect_inc {
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    border-radius: 20px;
    margin: 25px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
}


/* Inputs */

.input {
    border-radius: 20px;
    height: 20px;
    width: 20%;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    border-radius: 50px;
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    color: var(--white);
    border-style: none;
    font-size: 1.1em;
    font-family: 'Zen Kurenaido', sans-serif;
}

.area {
    padding: 25px;
    width: auto;
    max-width: 80%;
    height: fit-content;
    overflow: auto;
}

.area::-webkit-scrollbar {
    display: none;
}


/* Bouton valider */

.button, button {
    border-radius: 20px;
    height: 40px;
    padding: 0 10px;
    background: var(--primaryHighlight);
    box-shadow: inset 5px 5px 8px #1a1a1a, inset -5px -5px 8px #2e2e2e;
    color: var(--white);
    border-style: none;
    cursor: pointer;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1em;
}

.button:active {
    background-color: var(--white);
    color: var(--primary);
}


/* Message d'erreur */

.message {
    color: var(--color);
    font-style: italic;
    font-weight: bolder;
}


/**************************** DISCUSSION *************************/

.reponse 
{
    padding: 10px;
    overflow-wrap: break-word;
}

.writer 
{
    background-color: rgba(155, 190, 214, 0.8);
    box-shadow: inset 20px 20px 60px var(--colorHighlight), inset -20px -20px 60px var(--colorHighlight);
    border-radius: 10px;
    color: var(--primary);
}

.subject 
{
    border-radius: 10px;
    background: #1C1C1C;
    box-shadow: -5px -5px 0px #202020;
    padding-bottom: 5px;
}

.info_sujet {
    display: flex;
    flex-direction: column;
}

#title_reponse {
    text-align: left;
    padding: 10px;
}

.reponse_pseudo {
    text-align: left;
}

.reponse_date {
    text-align: right;
}

.section_reponse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_reponse * {
    margin: 10px;
}

.bloc_bas_reponse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc_bas_reponse a , .lien_suppression_sujet a{
    color: red;
    transition: all 0.25s;
}

.bloc_bas_reponse a:hover , .lien_suppression_sujet a:hover{
    color: rgb(252, 112, 112);
}

.lien_suppression_sujet 
{
    text-align: right;
}

/**************************** ACCUEIL *************************/

.option_under_title * {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 100%;
}

.option_under_title {
    margin-bottom: 2%;
}


/**************************** TABLEAU *************************/


/* Centrer */

.center button {
    text-align: center;
}

.tab_title {
    font-size: 1.5rem;
    margin: 2%;
}

.tab_entier {
    border-collapse: collapse;
    border: var(--white) solid 2px;
}

.tab_entier tr td {
    /* text-align: left; */
    width: 40%;
    border-left: var(--white) solid 2px;
    border-right: var(--white) solid 2px;
}

#titre_colonne td {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}


/**************************** CREER REDACTEUR, SUJET ET LOGIN *************************/

.all_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all_input * {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bloc_bottom {
    display: flex;
    flex-direction: column;
}